*{margin:0;padding:0;}
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
body{font-family: 'Montserrat', sans-serif;} 

html{color: #000;}

.text-color{color: #111111 !important;}

header{background-color: #004b8f; border-bottom: solid 2px #fff;}
.header_top {padding: 20px 0 0;background-color: #004b8f;}
.header_top ul {float: right;display: table;min-height: auto;margin:10px 0 0 0;}
.header_top ul li {display: inline-block;vertical-align: middle;padding-left: 0px;height: auto;}
.header_top ul li a {text-decoration:none;font-size: 29px;color: #fff;vertical-align: middle;}
.header_top ul li:last-child {padding-right:  0;padding-left: 20px;}
.header_top ul li:last-child a {background: #fff; color: #004b8f; border-radius: 4px;font-size: 18px; padding: 5px 8px;display: inline-block;margin-top: 2px;border:solid 2px #000;}
.header_top ul li:last-child a i {font-size: 15px;width: 26px;height: 26px;color: #fff;background: #004b8f;line-height: 28px;}

div.header_top ul li i {font-size: 29px;border-radius: 50px;width: 30px;height: 33px;line-height: 35px;text-align: center;    transition: all 1s ease;}
div.header_top ul li a:hover i {transform: rotate(360deg);color: #e8e8e8;}
.header_bottom {background: #11111100;position:  relative;top: 24px;z-index: 2;}
.header_bottom nav { margin-bottom: 0; padding: 10px 0;}
.header_bottom .navbar {background: white;border: 0;border-radius: 4px 4px 0 0px;}
.header_bottom .navbar .navbar-nav li.active a { background: transparent; color: #000;}
.header_bottom .navbar .navbar-nav li a {padding-left:15px;padding-right:15px;font-size: 17px;padding-top:5px;padding-bottom:  5px;color: #004b8f;}
.header_bottom .navbar .navbar-nav li:hover .dropdown-menu{opacity: 1;}
.header_bottom .navbar .navbar-nav li a:hover{color: #000;background-color: transparent;}

.navbar-nav>li{margin: 0 18px;}
.navbar-nav>li:last-child {margin-right: 0;}
.header_bottom .navbar .navbar-nav {padding-top: 4px;}
.header_bottom .navbar form button {
    background: #8ac43e;color: #fff; height: 40px; border-radius: 0px;font-size: 26px; padding: 0 10px;font-weight: 100;border:0;}
.header_bottom .navbar form {margin-top: 0; margin-bottom: 0;padding:0;}
.header_bottom .navbar form input {font-size: 16px; height: 40px; border-radius: 0px;}

/*2nd lavel menu*/
.header_bottom  .dropdown-menu{display: inherit;transition: all 1s ease;}
.header_bottom .nav > li.dropdown {position: static;}
.header_bottom .nav > li.dropdown > .dropdown-menu {display: table;border-radius: 0px;width: 100%;text-align: center;left: 0;right: 0;opacity: 0;background-color: #004b8f;}
.header_bottom .dropdown-menu > li {display: table-cell;height: 50px;line-height: 50px;vertical-align: middle;}
.header_bottom .nav > li.dropdown > .dropdown-menu > li > a{color: #fff;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, 
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{color: #000 !important}
.header_bottom .dropdown-menu > li a img {display:inline-block;}

/*3th level menu*/
.header_bottom .dropdown-menu > li > .dropdown-menu{top:47px;right:0;left:0;border:0;border-radius:0; display:none;width: 200px;padding-top: 0;margin: auto;}
.header_bottom .dropdown-menu > li:hover .dropdown-menu{display: block;}
.header_bottom .dropdown-menu > li > .dropdown-menu > li{display: block;height: auto;}
.header_bottom .dropdown-menu > li > .dropdown-menu > li a{display: block;padding: 10px;border-top: solid 1px #ccc;font-size: 15px;}

/*4th level menu*/
.header_bottom .dropdown-menu > li > .dropdown-menu li > .dropdown-menu{top:0px;left:100%;border:0;display:none;width: 200px;padding-top: 0;box-shadow: none;border-left: 1px solid #ccc;}
.header_bottom .dropdown-menu > li > .dropdown-menu li:hover .dropdown-menu{display: block;}
.header_bottom .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu li{display: block;height: auto;}
.header_bottom .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu li a{display: block;padding: 10px;border-top: solid 1px #ccc;font-size: 14px;}

/*5th level menu*/
.header_bottom .dropdown-menu > li > .dropdown-menu li > .dropdown-menu li > .dropdown-menu{top:-2px;left:100%;border:0;display:none;width: 220px;padding-top: 0;box-shadow: none;border-left: 1px solid #ccc;}
.header_bottom .dropdown-menu > li > .dropdown-menu li .dropdown-menu > li:hover .dropdown-menu{display: block;}
.header_bottom .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu li > .dropdown-menu li{display: block;height: auto;}
.header_bottom .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu li > .dropdown-menu li a{display: block;padding: 10px 5px;border-top: solid 1px #ccc;font-size: 14px;}



/*Banner Css Start*/
.form-control:focus{border:0 !important;}
.banner {position: relative;}

.banner .carousel-inner .item{height: 608px;background-size: cover !important;}

.banner .carousel,.banner .item{height: 100%;}
.banner .carousel-inner {height: 100%;background: #000;}
.banner .carousel-caption{padding-bottom:80px;}
.banner .fill {
    width: 100%;height: 100%; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; opacity:0.6;
}

.animated {-webkit-animation-duration: 1.5s;animation-duration: 1.5s;}

@-webkit-keyframes fadeInRight {
  from {opacity: 0; -webkit-transform: translate3d(1000px, 0, 0); transform: translate3d(1000px, 0, 0);}
  to { opacity: 1; -webkit-transform: none; transform: none;}
}
@keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(1000px, 0, 0);transform: translate3d(1000px, 0, 0);}
  to { opacity: 1; -webkit-transform: none; transform: none;}
}
.fadeInRight {-webkit-animation-name: fadeInRight;animation-name: fadeInRight;}

@-webkit-keyframes fadeInTop {
  from {opacity: 0; -webkit-transform: translate3d(0, -1000px, 0); transform: translate3d(0, -1000px, 0);}
  to { opacity: 1; -webkit-transform: none; transform: none;}
}
@keyframes fadeInTop {
  from { opacity: 0; -webkit-transform: translate3d(0, -1000px, 0);transform: translate3d(0, -1000px, 0);}
  to { opacity: 1; -webkit-transform: none; transform: none;}
}
.fadeInTop {-webkit-animation-name: fadeInTop;animation-name: fadeInTop;}

@-webkit-keyframes fadeInLeft {
  from {opacity: 0; -webkit-transform: translate3d(0px, 0, -1000px); transform: translate3d(0px, 0, 1000px);}
  to { opacity: 1; -webkit-transform: none; transform: none;}
}
@keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(0px, 0, 1000px);transform: translate3d(0px, 0, 1000px);}
  to { opacity: 1; -webkit-transform: none; transform: none;}
}
.fadeInLeft {-webkit-animation-name: fadeInLeft;animation-name: fadeInLeft;}

@-webkit-keyframes fadeInBottom {
  from {opacity: 0; -webkit-transform: translate3d(0, 1000px, 0); transform: translate3d(0, 1000px, 0);}
  to { opacity: 1; -webkit-transform: none; transform: none;}
}
@keyframes fadeInBottom {
  from { opacity: 0; -webkit-transform: translate3d(0, 1000px, 0);transform: translate3d(0, 1000px, 0);}
  to { opacity: 1; -webkit-transform: none; transform: none;}
}
.fadeInBottom {-webkit-animation-name: fadeInBottom;animation-name: fadeInBottom;}

/* Slider */
.slick-slider { position: relative;display: block;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-ms-touch-action: none;touch-action: none;-webkit-tap-highlight-color: transparent;}
.slick-list {position: relative;overflow: hidden;display: block;margin: 0;padding: 0;}
.slick-list:focus {outline: none;}
.slick-loading .slick-list {background: white url(./ajax-loader.gif) center center no-repeat;}
.slick-list.dragging {cursor: pointer; cursor: hand;}
.slick-slider .slick-list,.slick-track,.slick-slide,
.slick-slide img {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}

.slick-track {position: relative;left: 0;top: 0; display: block;  zoom: 1;}
.slick-track:before, .slick-track:after {content: "";  display: table;}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide { float: left;height: 100%;min-height: 1px;display: none;}
.slick-slide img { display: block;margin: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.slick-slide img.slick-loading {background: white url(./ajax-loader.gif) center center no-repeat;padding-bottom: 100%;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block;height: auto;border: 1px solid transparent;}


/* Arrows */
.slick-prev,.slick-next { position: absolute; display: block; height: 20px;width: 20px;line-height: 0;font-size: 0;cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0;  border: none;  outline: none;}
.slick-prev:focus,.slick-next:focus {  outline: none;}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {opacity: 0.25;}
.slick-prev:before, .slick-next:before {font-family: "fontawesome";font-size: 20px;line-height: 1;color: #000;opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.slick-prev {left: -25px;}
.slick-prev:before {content: '\f177';}
.slick-next {right: -25px;}
.slick-next:before {content: '\f178';}
/* Dots */
.slick-dots {display: none !important;}
.client{background: #fff;color: #000;padding: 20px 0;}
.client h3 {background: #f2f2f2;min-height: 74px;margin: 10px;padding: 2%;position: relative;text-align: center;}


/*content area*/
.welcome{background-color: #004b8f;padding: 70px 0;}
.welcome_head{margin-bottom: -20px;position: relative;}
.welcome_head h2{text-align: center;}
.welcome_head h2 span{font-size: 24px;padding: 10px 25px; background-color: #fff; border: solid 2px #004b8f; box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.38823529411764707);}
.welcome .carousel-indicators.custom li {width:auto; height:auto; text-indent:inherit; background-color: transparent; border:none; border-radius: 0; padding: 0 15px; color:#fff; font-size: 16px; text-transform: uppercase; }
.welcome .carousel-indicators.custom .active {border-bottom: solid 1px #fff;}
ol.carousel-indicators.custom { width: 100%; margin: 0 auto 30px; padding: 0; position: static;}
 
.welcome  #myCarouselcustom {background: url(../images/product_show_bg.png) no-repeat; background-size: 100%; background-position: 100% 100%; height: 230px;}
.welcome .images p span{min-height: inherit; background: #fff; border-radius: 5px;display: inline-block; padding: 3px 10px;    position: relative;}
.welcome .images p span:after{content:'';position:absolute;border-bottom-style: solid;display: block;height: 0;width: 0;border: 6px solid;bottom: -12px;left: 0;right: 0; border-color:#fff transparent transparent transparent; z-index: 99;text-align: center;margin: auto;}
.welcome .images span { display: block; min-height: 150px; position:relative;}
.welcome #myCarouselcustom a { color: #333;}
.welcome .carousel-inner img {display: block;margin: 0 auto;position: absolute;top: 50%;left: 50%;right: 0;transform: translate(-50%,-50%);transition:0.3s ease;}
.welcome #myCarouselcustom {margin: 0 auto; max-width: 1100px; text-align: center;}
.welcome .carousel-inner.custom { padding: 0 10%;}
.welcome .images a p {font-size: 11px; text-transform: capitalize;  margin: 0;}
.welcome .carousel-inner.custom .item:nth-child(3) img { bottom: 20px ;}
.welcome .carousel-inner.custom .item:nth-child(6) img { bottom: 10px;}
.welcome .carousel-inner.custom .item:nth-child(5) img { bottom: 15px;}
.welcome .images:hover img { bottom: 20px !important;}
.welcome .images:hover a { text-decoration: none;}
.welcome .images:hover a p { color: #2a9eff;  text-decoration: none;}
/**/



.steps{padding: 70px 0;}
.steps figure {position: relative;overflow: hidden;cursor: pointer;max-width: 265px;margin: auto;}
.steps figure img {position: relative;display: block;min-height: 100%;max-width: 100%;}
.steps figure figcaption {-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.steps figure figcaption::before,
.steps figure figcaption::after {pointer-events: none;}
.steps figure figcaption,
.steps figure figcaption > a {position: absolute;left: 0;width: 100%;height: 100%;bottom: 40px;margin: 0 10px;}
.steps figure figcaption > a {z-index: 1000;white-space: nowrap;font-size: 15px;opacity: 0;color: #fff;height: 10%;bottom: -30px;}
.steps figure h3 {word-spacing: -0.15em;font-weight: 300;font-size: 20px;margin: 0;color: #fff;display: block;width: 100%;text-align: left;padding: 5px 10px;background-color: rgba(255,255,255,.4);}
/*-----------------*/
/***** Goliath *****/
/*-----------------*/
figure.effect-goliath h3 img{display: inline-block;padding-left: 5px;max-width: 15px;}
figure.effect-goliath img,
figure.effect-goliath h3 {-webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s;}
figure.effect-goliath img {	-webkit-backface-visibility: hidden;backface-visibility: hidden;}
figure.effect-goliath h3,figure.effect-goliath p {position: absolute;	bottom: 0;	left: 0;}
figure.effect-goliath p {
	text-transform: none;font-size: 90%;opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: translate3d(0,30px,0);transform: translate3d(0,30px,0);
	color: #fff;padding: 0 10px;}

figure.effect-goliath:hover img {-webkit-transform: translate3d(0,0px,0);transform: translate3d(0,0px,0);}
figure.effect-goliath:hover h3 {-webkit-transform: translate3d(0,-71px,0);transform: translate3d(0,-71px,0);}
figure.effect-goliath:hover p {opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
figure.effect-goliath:hover a{opacity: 1;}

.product_head{margin-bottom: -20px;position: relative;}
.product_head h2 {text-align: center;}
.product_head h2 span{margin: 0px auto; font-size:24px;padding: 10px 20px; background-color: #fff; border: solid 2px #004b8f; box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.38823529411764707);}
.product_area {background: url(../images/product_bg.jpg) no-repeat;background-size: cover; padding: 60px 0 40px;}
.product_area a:hover{text-decoration: none;}
.product_area a:hover .prodct_img img{filter: grayscale(100%);transform: scale(2,2);}
.product_area .prodct_img{background-color: #fff;padding:20px;text-align: center;overflow: hidden;}
.product_area .prodct_img img{display: block;margin: auto;transition: all 2s ease;}
.product_area p{display: block;text-align: center;color: #fff;padding: 10px 0 4px;}
.product_area button{margin: auto;display: block;background: #004b8f;color: #fff;padding: 4px 15px; border: 1px solid #fff;transition: all 1s ease;}
.product_area button:hover{background-color: #486783; border-radius: 10px;}


.stay_info {padding: 40px 0 60px;}
.stay_info h3, .stay_info p{text-align: center;}
.stay_info .form_area{padding-top: 30px;}
.stay_info .form_area form input {width: 100%;border-radius: 0; height: 40px; border-color: #000;box-shadow: none;}
.stay_info .form_area form input:focus {outline: solid 1px #000;height: 42px;margin: -1px 0 0 0;box-shadow: none;}
.stay_info .form_area form > div {float: left; width: 43%;}
.stay_info .form_area form button {background: #004b8f;color: #fff;border:0;height:40px;border-radius: 0;display:inline-block;    width: 105px;transition: all 1s ease;}
.stay_info .form_area form button:hover{background-color: #486783;}



/*footer css*/
.footer_top{padding: 70px 20px 70px 50px;background: url(../images/footer_bg.jpg) no-repeat;background-size: cover;background-position: center;position: relative;color: #fff;}
.footer_top:before{content: '';position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(0, 0, 0, 0.80);}

.footer_top h3 {text-transform: uppercase;font-weight: 600; padding-bottom: 10px;font-size: 20px;}
.footer_top h3.mb_5{padding-bottom: 0;}
.footer_top p {font-size: 16px;color: #cbcbcb;}
.footer_top ul {padding-left: 0px;}
.footer_top ul li {line-height: 27px;display: inline-block;width: 100%;}
.footer_top ul.list-inline li{width: auto;}
.footer_top ul.list-inline li a {font-size: 26px;}
.footer_top ul.list-inline li a:hover i{transform: rotate(360deg);color: #fff;}
.footer_top a {color: #cbcbcb; font-size: 16px;}

.footer_top .news_letter input{border-radius: 0;height: 42px;}
.footer_top .news_letter button{border-radius: 0;background: #004b8f; color: #fff; padding: 4px 15px; border: 1px solid #fff;transition: all 1s ease;}
.footer_top .news_letter button:hover{background-color: #486783; border-radius: 10px;}

.footer_bottom {padding: 25px 20px 20px;background: #004b8f;text-align: center;}
.footer_bottom p{color: #fff;font-size: 16px;margin-bottom: 0;padding-top: 10px;}
.footer_bottom p a{color: #fff;}
.footer_bottom .social {float: right;}



/*responsive css start*/

@media (min-width: 1100px){
	.footer_top .col-my-20 {width: calc(80% / 5); box-sizing: border-box;padding-left: 15px;padding-right: 15px;}
	.footer_top .col-my-20:first-child {width: 28%;margin-right: 10px;}
	.footer_top .col-my-20:last-child {width: 21%;}
}


@media (max-width: 1199px){
	.header_bottom .dropdown-menu > li a img {display:inline-block; max-width: 32px;}
	.banner_form_area h3{font-size: 24px;}
	.navbar-nav>li{margin:0 8px;}
	.stay_info .form_area form > div{width: 41%;}
	.header_bottom .navbar form{padding: 5px 10px;max-width: 230px;}
	.header_bottom .navbar .navbar-nav li a {padding-left: 10px;padding-right: 10px;}
	.footer_top {padding-left: 10px;padding-bottom: 0;padding-top: 30px;}
	.steps figure figcaption{max-width: 200px;}
	.footer_top h3{font-size: 18px;}
}

@media (max-width: 1080px){
	.banner_form_area h3{font-size: 23px;}
	.banner .carousel-inner .item{height: 470px;}
}
@media (max-width: 1050px){
	.navbar-nav > li{margin:0 16px;}
	.header_bottom .navbar .navbar-nav li a{padding-left: 0px;padding-right: 0px;font-size: 16px;}
	.header_bottom .navbar .navbar-nav li{padding-left: 4px;padding-right: 5px;}
	.steps figure figcaption{max-width: 200px;}
}


@media (max-width: 991px){

	.banner .carousel-inner .item{height: 400px}
	.banner .banner_form{position: static;}
	.welcome .container {width: auto;}
	.footer_top ul li{line-height: 31px;}

	.content_area{padding: 40px 0;}
	.banner_form_area{max-width: 400px;margin: 20px auto 0;}
	.navbar-nav>li{margin:0;}
	.header_bottom .navbar form{padding: 5px 10px;max-width: 210px;}
	.news_area .news_body .news a{font-size: 20px;}
	.img-dv {text-align: center;}
	.dis_ce {display: inline-block;}
	.sub_heading{font-size: 22px;}
	.header_top ul{margin:0px}
	.main_heading{font-size: 25px;}
	.slick-prev{left: -10px;}
	.slick-next{right: -10px;}

	.welcome .carousel-indicators.custom li{padding: 0 9px;font-size: 15px;}
	.steps figure figcaption{max-width: inherit;}

}
@media (max-width:915px){
	.header_top ul{display: none;}
  .navbar-header{float:none;padding-left: 15px;}
  .navbar-left,.navbar-right{float:none !important;}
  .navbar-toggle{display:block;float: left;}
  .navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-collapse.collapse{display:none!important;}
  .navbar-nav{float:none!important;margin-top:7.5px;}
  .navbar-nav>li{float:none;}
  .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;}
  .collapse.in{display:block !important;border-top: 0;box-shadow: none;}
  .navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;-webkit-box-shadow:none;box-shadow:none;}
  header .navbar-inverse .navbar-nav > li{max-width: 100%;text-align: left;border-bottom: solid 1px #000;padding: 5px;}
  header .navbar-inverse .navbar-nav > li:last-child {border-bottom: 0;}
  header .navbar-inverse .navbar-nav > li > a{height: auto;padding: 5px 0;}
  .header_bottom .navbar .navbar-nav li.active a{border:0;color: #000;}
  .navbar-inverse .navbar-toggle{background: #004b8f;}
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background-color: #004b8f !important}
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{background-color: #004b8f;}

  .header_top .col-sm-3.col-xs-12 {width: 100%;text-align: center;}
  .header_top .col-sm-3.col-xs-12 .logo { max-width: 350px; display: inline-block;}

  .social_menu{display: block !important;}
  .social_menu{text-align:right;min-height: auto;margin:4px 0 0 0;}
	.social_menu li {display: inline-block;vertical-align: middle;padding-left: 0px;height: auto;}
	.social_menu li a {text-decoration:none;font-size: 23px;vertical-align: middle;}
	.social_menu li:last-child {padding-left: 20px;}
	.social_menu li:last-child a {border:solid 2px #000; background: #004b8f;color: #ffffff;border-radius: 4px;font-size: 18px;padding: 5px 8px;display: inline-block;margin-top: 2px;}
	.social_menu li:last-child a i {font-size: 15px;width: 26px;height: 26px;text-align:  center;color: #004b8f;background: #fff;line-height: 28px;border-radius: 50%;}


  .header_bottom .nav > li.dropdown .dropdown-menu {float: none;}
  .header_bottom .nav > li.dropdown .dropdown-menu {position: relative;box-shadow: none;border:0;opacity: inherit;}
  .header_bottom .navbar .navbar-nav li:hover .dropdown-menu{opacity: inherit;}
  .header_bottom .nav > li.dropdown .dropdown-menu li{display: block; width: 100%; text-align: left; }
  .header_bottom .navbar .navbar-nav li.dropdown-submenu .dropdown-menu{display: none;}
  .header_bottom .navbar .navbar-nav li.dropdown-submenu.open .dropdown-menu{display: block;}
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color: #004b8f;}
  .header_bottom .dropdown-menu > li{line-height: 27px;height: auto;}



  	.footer_top .col-my-20 {width: calc(95%/4);display: inline-block;vertical-align: top;text-align: left;}
	.footer_top .col-my-20 ul{padding:0;}
	.footer_top h3, .footer_top p{text-align: left;font-size: 15px;}
	.footer_top .col-my-20 a, .footer_top .col-my-20  p{line-height: normal;font-size: 14px;}
	.footer_top .col-my-20 ul{margin:0;}
}


@media (max-width: 767px){
	.header_top a.logo {display: block;text-align: center;max-width: 320px;margin: auto;}
	.social_menu{text-align:right;min-height: auto;margin:4px 0 0 0;}
	.social_menu li {display: inline-block;vertical-align: middle;padding-left: 0px;height: auto;}
	.social_menu li a {text-decoration:none;font-size: 23px;vertical-align: middle;}
	.social_menu li:last-child {padding-left: 20px;}
	
	.header_bottom .navbar{padding: 0;}

	.header_bottom .navbar-toggle{float: left;}
	.content_area{padding: 40px 0px;}
	.main_heading{font-size: 32px;}
	.footer_top{padding: 30px 0px;	}
	.footer_top ul{min-height: auto;}
	/*.footer_top h3, .footer_top p{text-align: center;}*/
	.footer_top ul{display: block;margin: 0 auto 20px;text-align: left;position: relative;	}
	.testimonials .testimonials_body p{font-size: 16px;}
	.footer_bottom{text-align: center;}	
	.footer_bottom .social{float: none;margin-top: 10px;}
	.facebook{margin-bottom: 0;}
	.header_bottom .navbar form{padding: 5px 10px;max-width: 250px;}
	.slick-prev{left: -10px;display: none !important;}
	.slick-next{right: -10px;display: none !important}
	.product_area .prodct_img{width: 320px;margin:40px auto 0;padding-top: 30px;}
	.steps figure{max-width: 280px;margin: auto;}

	.welcome #myCarouselcustom{height: auto;background: inherit;}
	.welcome .carousel-indicators.custom li{padding: 0 4px;font-size: 14px;}

	.steps figure figcaption{max-width: 260px;}
	.steps{padding:30px 0;}

	.footer_top .col-sm-6{width: 50%;float: left;min-height: 220px;}

	.welcome .carousel-indicators.custom li{background-color: rgba(255, 255, 255, 0.4);width: 242px;margin-left: 0;margin-right: 0}
	.welcome .carousel-indicators.custom .active {background: #fff;color: #004b8f;}

}

@media (max-width: 620px){
	.stay_info .form_area form > div{width: 100%;}
	.stay_info .form_area form button{margin: auto;display: block;}
}

@media (max-width: 600px){
	.header_top ul li{padding:5px 10px;	}
	.main_heading{font-size: 28px;}
	.news_area .news_body h3{font-size: 20px;}
	.footer_top h3{padding-bottom: 0;}
	.footer_top ul li{line-height: 24px;}
	.banner_form_area form button{font-size: 16px;}
	.phn_para{display: block;}
	.footer_top .col-my-20 {width: 100%;}
	h2.mi-h {font-size: 16px;}
	h2.main_heading{font-size: 18px;}
	.header_top ul li a{font-size: 22px;}

	.welcome_head{margin-bottom: -50px;margin-top: -20px;}
	.welcome_head h2 span{font-size: 16px;}
	.welcome{padding: 80px 0 20px;}
	.product_head{margin-bottom: -50px;}
	.product_head h2 span{font-size: 16px;}
	.product_area{padding: 50px 0 30px;}
	
	.footer_top .col-sm-6{width: 100%;min-height: inherit;}
	.footer_top .news_letter{max-width: 300px;}

}


@media (max-width: 480px){
	.navbar-header{padding-left: 5px;}
	.header_top ul li{padding: 4px;}
	.header_top ul li img{max-width: 22px}
	.header_top ul li a{font-size: 18px}
	.banner .carousel-caption{padding-bottom: 20px;}
	.banner .carousel-inner .item{height: 270px}
	.banner_form_area{padding:30px 20px;}
	.banner_form_area h3{font-size: 24px;}
	.main_heading{font-size: 24px;}
	.sub_heading{font-size: 17px;}
	.content_area p{font-size: 15px;line-height: 24px;}
	.testimonials .testimonials_body p{font-size: 14px;}
	.banner .banner_form{margin-bottom: -30px;}
	div.header_top ul li i{vertical-align: middle;}
	.header_top .col-xs-6 {width: 100%;}
	.header_top a.logo img {display: inline-block;}
	.header_top ul{margin:20px auto 0;}
	.header_bottom .navbar-toggle{margin-right: 0;}
	.social_menu li:last-child{padding-left:0px;}
	.social_menu li:last-child a{font-size: 14px;}

	.footer_bottom{padding:10px 0;}
	.footer_bottom p a{display: block;}
}

@media (max-width: 420px){
	
	.social_menu{margin-top: 8px;}
	.social_menu li:last-child{padding-left:0px;}
	.social_menu li:last-child a i{display: none;}
}

@media (max-width: 370px){
	.header_bottom .navbar-toggle{padding: 9px 6px;}
	.social_menu li{padding-right: 4px;}
	.social_menu li a{font-size: 18px;}
	.social_menu li:last-child a{font-size: 13px;}
	.banner .carousel-inner .item{height: 220px;}
	.welcome_head h2 span{padding: 0;background-color: transparent;color: #fff;box-shadow: none;font-weight: 600;display: block;}

	.welcome .images a p{display: table;width: 100%;height: 38px;}
	.welcome .images p span{display: table-cell;vertical-align: middle;}

	.welcome_head{margin-bottom: -40px;}

	.steps figure figcaption{max-width: 260px;margin: auto;left: 0;right: 0;}
	.steps figure img{margin: auto;}

	.steps figure{max-width: inherit;}
	.product_area .prodct_img{width: inherit;}
}
